version: '3.3'
services:
  nginx:
    image: nginx
    restart: always
    container_name: nginx
    network_mode: host #直接跟宿主机共用网络
    privileged: true #容器内root等同于宿主机root
    ports:
      - 80:80
      - 443:443
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /data/volumes/nginx/conf/nginx.conf:/etc/nginx/nginx.conf
      - /data/volumes/nginx/html/:/etc/nginx/html/
      - /data/volumes/nginx/logs:/var/log/nginx/
      - /data/volumes/nginx/vhost:/etc/nginx/conf.d
      - /data/volumes/nginx/cert:/etc/nginx/cert
      - /etc/letsencrypt:/etc/letsencrypt:ro  # 挂载certbot所在证书的整个目录
  # 新增的邮件微服务
  mail-service:
    build: ./mail_service
    container_name: mail-service
    restart: always
    network_mode: host # 同样使用 host 模式，方便 Nginx 访问 127.0.0.1:5000
    environment:
      - TZ=Asia/Shanghai

  # location /submit_contact {
  #       if ($request_method = 'OPTIONS') {
  #           return 204;
  #       }

  #       proxy_pass http://127.0.0.1:5000/submit_contact;
  #       proxy_set_header Host $host;
  #       proxy_set_header X-Real-IP $remote_addr;
  #   }
